---
import BaseLayout from "../../layouts/base_layout.astro";
import HeaderBlock from "../../components/header_block.astro";
import fs from "fs";
import path from "path";

let images: { src: string; createdAt: number; slug: string }[] = [];

try {
  const galleryFolder = path.resolve("./public/gallery_img");

  if (fs.existsSync(galleryFolder)) {
    const files = fs.readdirSync(galleryFolder);

    images = files
      .filter((file: string) => /\.(jpg|jpeg|png|gif)$/i.test(file))
      .map((file: string) => {
        const filePath = path.join(galleryFolder, file);
        const birthtimeMs = fs.statSync(filePath).birthtimeMs;
        const slug = file.replace(/\.[^/.]+$/, "");
        return {
          src: `/gallery_img/${file}`,
          createdAt: birthtimeMs,
          slug,
        };
      })
      .sort((a, b) => b.createdAt - a.createdAt);
  }
} catch (e) {
  console.warn("⚠️ No se pudo cargar la galería de imágenes.");
}
---

<BaseLayout>
  <HeaderBlock slot="header" />

  <h1 class="main-title">Galería de Fotos</h1>

  <div class="gallery-grid">
    {
      images.map((img) => (
        <a href={`/gallery/${img.slug}`}>
          <img src={img.src} alt="Foto del viaje" loading="lazy" />
        </a>
      ))
    }
  </div>
</BaseLayout>
