---
import BaseLayout from "../../layouts/base_layout.astro";
import HeaderBlock from "../../components/header_block.astro";
import fs from "fs";
import path from "path";

// 👇 Adjusted for dynamic linking
const galleryFolder = path.resolve("./public/gallery_img");
const files = fs.readdirSync(galleryFolder);


// Filtra imágenes y las ordena por fecha de creación (más reciente primero)
const images = files
  .filter((file: string) => /\.(jpg|jpeg|png|gif)$/i.test(file))
  .map((file: string) => {
    const filePath = path.join(galleryFolder, file);
    const birthtimeMs = fs.statSync(filePath).birthtimeMs;
    const slug = file.replace(/\.[^/.]+$/, "").replace("_info.md",""); // Remove file extension for slug
    return {
      src: `/gallery_img/${file}`,
      createdAt: birthtimeMs,
      slug,
    };
  })
  .sort((a, b) => b.createdAt - a.createdAt);
---

<BaseLayout>
  <HeaderBlock slot="header" />

  <h1 class="main-title">Galería de Fotos</h1>

  <div class="gallery-grid">
    {
      images.map((img) => (
        <a href={`/gallery/${img.slug}`}>
          <img src={img.src} alt="Foto del viaje" loading="lazy" />
        </a>
      ))
    }
  </div>
</BaseLayout>
