.prose {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: left;
}

.prose a {
    color: #e27878;
    text-decoration: underline;
    text-align: center;
}

.prose h2,
.prose h3 {
    color: #f6bfbc;
    margin-top: 1.5rem;
    text-align: center;
}

.prose p {
    margin-bottom: 1rem;
}