---
// No props needed because it's always the same
---

<!-- This component shows the image + title + subtitle -->
<img
  src="/website_img/header_image.png"
  alt="Martín saludando al mar"
  style="width: 180px; height: 180px; border-radius: 1.5rem; object-fit: cover; margin-bottom: 0.5rem; box-shadow: 5px 5px 10px #e4d2d8;"
/>

<h1
  style="font-family: 'Joti One', cursive; color: #f6bfbc; font-size: 2.5rem; margin-top: 0.3rem; margin-bottom: 0.3rem; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);}"
>
  Caminando a través de Japón
</h1>

<p
  class="subtitle"
  style="font-family: 'Sawarabi Mincho', serif; color: #696063; font-size: 1rem; margin-top: 0.3rem; margin-bottom: 2rem;"
>
  Un viajero con mochila y cámara, siguiendo su propio camino
</p>
