<nav>
  <a href="/"><img src="/Buttons/Home_Pink.png" alt="Inicio" /></a>
  <a href="/about"><img src="/Buttons/ID_Pink.png" alt="Sobre mí" /></a>
  <a href="/gallery"><img src="/Buttons/Camera_Pink.png" alt="Fotos" /></a>
  <a href="/links"><img src="/Buttons/Link_Pink.png" alt="Redes" /></a>
</nav>
