<nav>
  <a href="/"><img src="/Buttons/Home_Orange.png" alt="Inicio" /></a>
  <a href="/about"><img src="/Buttons/ID_Orange.png" alt="Sobre mí" /></a>
  <a href="/gallery"><img src="/Buttons/Camera_Orange.png" alt="Fotos" /></a>
  <a href="/map"><img src="/Buttons/World_Orange.png" alt="Mapa" /></a>
  <a href="/stages"><img src="/Buttons/FootStep_Orange.png" alt="Etapas" /></a>
  <a href="/links"><img src="/Buttons/Link_Orange.png" alt="Redes" /></a>
</nav>
