<nav>
  <a href="/"><img src="/buttons_icons/Home_Pink.png" alt="Inicio" /></a>
  <a href="/about"><img src="/buttons_icons/ID_Pink.png" alt="Sobre mí" /></a>
  <a href="/gallery"><img src="/buttons_icons/Camera_Pink.png" alt="Fotos" /></a>
  <a href="/links"><img src="/buttons_icons/Link_Pink.png" alt="Redes" /></a>
</nav>
