---
const {
  title = "Caminando a traves de Japon",
  subtitle = "Un viajero con mochila y camara, siguiendo su propio camino",
} = Astro.props;

import "../styles/BaseLayout.css";
import NavBar from "../components/NavBar.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Joti+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <slot name="header" />

    <NavBar />

    <slot />
  </body>
</html>
